<html>
<link rel="stylesheet" href="css/about.css" />
<link rel="icon" type="image/png" href="https://i.postimg.cc/4ywm2xg0/excess.png" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
<link rel="icon" type="image/png" href="https://i.postimg.cc/4ywm2xg0/excess.png" />
<link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png" />
<link rel="icon" type="image/png" sizes="96x96" href="img/favicon.png" />

<link href="https://fonts.googleapis.com/css?family=Oswald:300,400|Roboto|Open+Sans:300,400,700" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/scrollreveal"></script>

<title>Excess-this is all about it.</title>
<style id="about">
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background-color: solid #202020;
    height: 100%;
    width: 100%;
  }

  :root {
    --bs-blue: #1717e5;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #8a8a8e;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #8a8a8e;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #202020;
    --bs-primary: #1717e5;
    --bs-secondary: #8a8a8e;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #202020;
    --bs-primary-rgb: 23, 23, 229;
    --bs-secondary-rgb: 138, 138, 142;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 32, 32, 32;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 17, 17, 17;
    --bs-body-color-rgb: 32, 32, 32;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: "Inter", system-ui, -apple-system, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg,
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1.2rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #202020;
    --bs-body-bg: #fff;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(17, 17, 17, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #1717e5;
    --bs-link-hover-color: #1212b7;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  @media (prefers-reduced-motion: no-preference) {
    :root {
      scroll-behavior: smooth;
    }
  }

  /*-------------SCROLL BAR----------------*/

  ::-webkit-scrollbar {
    width: 1.7em;
  }

  ::-webkit-scrollbar-track {
    background: linear-gradient(pink, skyblue);
    border-radius: 100vw;
    margin-block: 0.5em;
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(102deg,
        rgb(132, 0, 255),
        rgb(139, 72, 255),
        rgb(97, 69, 254),
        rgb(74, 183, 255),
        rgb(0, 153, 255));
    border-radius: 100vw;
    border: 2px solid pink;
    height: 180px;
  }

  /*----------------Sticky Navbar-----------*/

  .header-area {
    position: fixed;
    top: -100px;
    transition: top 0.3s;
    z-index: 9999;
    /* set a high value to bring the navbar on top */
    opacity: 1;
    background-color: white;
  }

  .header-sticky .header-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    padding-top: 0;
    padding-bottom: 0;
    opacity: 1;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    z-index: 9999;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  .main-nav {
    display: flex;
    z-index: 9999;
  }

  .nav {
    display: flex;
    z-index: 9999;
  }

  .nav a {
    color: #202020;
    font-size: 1.5em;
    z-index: 9999;
  }

  .logo {
    padding-right: 62px;
    /* left: -282px; */
    position: relative;
  }

  .logo img {
    position: relative;
    top: 2px;
    height: 42px;
    width: 32px;
  }

  .nav a:hover {
    color: #8196d5;
  }

  .header-sticky .home {
    margin-top: 50px;
  }

  .main-header {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 1;
    background-color: #202020;
    /****************check****************/
  }

  .main-header .logo1 {
    /* max-height: 6px; */
    position: relative;
    left: 24px;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
    /* top: 42px; */
    /* border-right: 2px solid rgba(92, 92, 92, 0.19); */
  }

  .main-header .logo1 .wraper {
    border: none;
    padding: 0px 4px;
    border-radius: 6px;
    position: relative;
    /* left: -30px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202020;
  }

  .wraper a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    overflow: hidden;
  }

  .wraper .text {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    animation: slidein 1.5s;
  }

  .wraper:hover {
    background-color: rgb(0, 0, 0);
  }

  .wraper a:hover {
    text-decoration: none;
    color: #0000001d;
  }

  .wraper img {
    height: 42px;
    width: 32px;
    position: relative;
    top: 2px;
  }

  /*-------------------Main Navbar---------------------------*/

  .login {
    position: absolute;
    right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  .login a {
    color: rgb(201, 201, 201);
    text-decoration: none;
    padding-right: 30px;
    font-family: "Heebo", sans-serif;
    font-weight: 100;
    position: relative;
    /* top: 2px; */
  }

  .login a:hover {
    color: black;
    cursor: pointer;
    text-decoration: none;
  }

  .login .KM {
    padding: 7px 20px;
    background-image: linear-gradient(102deg,
        rgb(132, 0, 255),
        rgb(139, 72, 255),
        rgb(97, 69, 254),
        rgb(74, 183, 255),
        rgb(0, 153, 255));
    border-radius: 12px;
    border: none;
  }

  .login button:hover {
    opacity: 0.7;
  }

  .login .KM a {
    color: rgb(253, 253, 253);
    position: relative;
    left: 15px;
    /* top: 1px; */
    font-size: 1.5em;
    font-weight: 700;
  }

  /*-------------------CLOCK---------------------*/
  .a1 {
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #202020;
  }

  .box1 {
    padding: 0px 70px;
    border-radius: 32px;
    display: flex;
    justify-items: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
  }

  #greet-time {
    position: relative;
    padding: 12px;
    display: flex;
  }

  #clock {
    position: relative;
    padding-left: 130px;
  }

  /*------------------------------------------------*/
  .a2 {
    position: relative;
    background-color: #202020;
  }

  .box2 {
    position: relative;
    display: flex;
  }

  .text1 {
    position: relative;
    color: #81d5ca;
    padding: 150px 30px 30px 30px;
    display: inline;
    /* max-width: 70vw; */

    #nameh {
      font-size: 48px;
      letter-spacing: 18px;
      color: white;
      display: flex;
      justify-content: center;
      align-content: center;
    }

    #nameh2 {
      letter-spacing: 6px;
      color: white;
      display: flex;
      justify-content: center;
      align-content: center;
    }

    #nameh3 {
      color: white;
      display: flex;
      justify-content: center;
      align-content: center;
    }

    #namep {
      padding: 30px;
      letter-spacing: 2px;
      display: flex;
      justify-content: center;
      align-content: center;

    }
  }

  .pic {
    position: relative;
  }

  .pic img {
    position: relative;
    max-width: fit-content;
    right: 0px;
  }

  #but1 {
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  #but1 button {
    background-color: red;
    font-size: 2rem;
    letter-spacing: 0.2px;
    border: none;
    border-radius: 3px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #but1 button i {
    color: white;
  }


  /*-------------------------------------*/
  .a3 {
    position: relative;
    background-image: linear-gradient(to top right, grey, rgb(249, 212, 142));
    padding: 100px;
  }

  .nav2 {
    width: 100%;
    background-color: #20232b;
    height: 9em;
  }

  .box3 {
    background-color: #202020;
    position: relative;
    height: 120vh;
    border: 12px solid black;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: -26px 26px 5px #666565;
  }

  .box3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 0px 0px 24px 24px;
    z-index: 1;
  }

  .cards {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 0;
    display: flex;
    overflow: hidden;
  }

  .cards .card {
    height: 28em;
    width: 28em;
    background-color: #323232e6;
    border-radius: 12px;
    margin: 20px;
    box-shadow: -6px 6px 3px #303030;
  }

  .card img {
    height: 100%;
    width: 100%;
    border-radius: 12px;
  }








  /*----------------------------------------*/
  @keyframes slidein {
    from {
      margin-left: -100%;
    }

    to {
      margin-left: 0%;
    }
  }

  .slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
  }

  @-webkit-keyframes slideInDown {
    0% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
      visibility: visible;
    }

    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }

  @keyframes slideInDown {
    0% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
      visibility: visible;
    }

    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
</style>

<body>
  <!-- ***** Header Area Start ***** -->
  <header class="header-area slideInDown">
    <div class="container">
      <div class="row-1">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
              <img src="https://i.postimg.cc/4ywm2xg0/excess.png" alt="" />
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section">
                <a href="/about">About</a>
              </li>
              <li class="scroll-to-section">
                <a href="#services">Services</a>
              </li>
              <li class="scroll-to-section">
                <a href="#portfolio">Projects</a>
              </li>
              <li class="scroll-to-section"><a href="/blog">Blog</a></li>
              <li class="scroll-to-section">
                <a href="#contact">Contact</a>
              </li>
              <!-- <li class="scroll-to-section"><div class="border-first-button"><a href="#contact">Free Quote</a></div></li>  -->
            </ul>
            <!-- <a class='menu-trigger'>
                <span>Menu</span>
            </a> -->
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <section class="main-header">
    <div class="logo1">
      <button class="wraper">
        <a href="#"><img src="https://i.postimg.cc/4ywm2xg0/excess.png" alt="excessofficial.com" /></a>
        <div class="text">
          <a href="#"><span>
              <h1>X</h1>
            </span></a>
          <a href="#"><span>
              <h1>C</h1>
            </span></a>
          <a href="#"><span>
              <h1>E</h1>
            </span></a>
          <a href="#"><span>
              <h1>S</h1>
            </span></a>
          <a href="#"><span>
              <h1>S</h1>
            </span></a>
        </div>
      </button>
    </div>
    <div class="login">
      <a href="login">
        <h2>Log In</h2>
      </a>
      <button class="KM"><a href="know more">Know More</a></button>
    </div>
  </section>

  <!-- ------------------------------------------------------->

  <section class="a1">
    <div class="box1">
      <div id="greet-time">
        <h1 id="greeting"></h1>
        <h1 id="clock"></h1>
      </div>
    </div>
  </section>
  <!-- ------------------------------------------------------->
  <section class="a2">
    <div class="box2">
      <div class="text1">
        <h1 id="nameh">NAME</h1>

        <h3 id="nameh2">EXCESS OFFICIAL</h3>
        <p id="nameh3">_______________________________________</p>
        <p id="namep">
          ExcessOfficial is a premier website building company dedicated to
          transforming your online presence into a captivating and
          cutting-edge digital experience. With a team of highly skilled
          designers, developers, and strategists, we specialize in creating
          dynamic websites that not only showcase your brand's unique identity
          but also drive tangible business results. <br />

          At ExcessOfficial, we understand that your website is often the
          first point of contact for potential customers, and we believe in
          making a lasting impression. We take the time to delve deep into
          your business objectives, target audience, and industry trends to
          develop a comprehensive website strategy tailored to your specific
          needs. Our meticulous planning ensures that every aspect of your
          website, from its functionality to its aesthetic appeal, is
          carefully crafted to engage visitors and convert them into loyal
          customers. <br />

          Our talented design team combines creativity with user-centric
          principles to deliver visually stunning websites that reflect your
          brand's values and evoke emotion. We believe that aesthetics go hand
          in hand with functionality, which is why our designs are not only
          visually captivating but also highly intuitive and user-friendly. We
          pay attention to every detail, from color schemes and typography to
          intuitive navigation and responsive layouts, ensuring a seamless
          user experience across all devices. <br />

          Behind the scenes, our development team employs the latest
          technologies and coding practices to bring your website to life.
          With expertise in various programming languages and content
          management systems, we have the flexibility to create custom
          solutions or work within existing frameworks, depending on your
          requirements. We focus on delivering robust, scalable, and
          high-performing websites that load quickly, are secure, and provide
          a seamless browsing experience. <br />

          In addition to design and development, ExcessOfficial offers a range
          of supplementary services to optimize your website's performance.
          Our SEO specialists employ industry best practices to enhance your
          website's visibility in search engine results, driving organic
          traffic and increasing your online presence. We also provide ongoing
          website maintenance and support, ensuring that your site remains up
          to date, secure, and aligned with evolving industry trends. <br />

          At ExcessOfficial, we believe that building a website is not just a
          one-time project but a continuous partnership. We strive to forge
          long-term relationships with our clients, offering personalized
          attention, open communication, and exceptional customer service
          every step of the way. Our commitment to excellence and passion for
          innovation sets us apart as a leading website building company,
          empowering businesses of all sizes to exceed their digital
          aspirations and achieve online success. <br />
        </p>

        <h3 id="nameh2">
          "Stay connected with us and never miss out on more captivating
          content by subscribing to our updates."
        </h3>
        <div id="but1">
          <button>
            Subscribe
            <a href="#" class="icon"><i class="fab fa-youtube"></i></a>
          </button>
        </div>
      </div>
      <div class="pic">
        <img src="https://i.postimg.cc/13Gsxzqw/ab-pic1.png" alt="excessofficial.com" />
      </div>
    </div>
  </section>
  <section class="a3">
    <div class="box3">
      <div class="nav2">
        <h2 style="color:aliceblue;  display: flex; justify-content: center; align-items: center;">Logistics</h2>
        <h1>__________ ___________________________ ________________________________ ________________ <br>
          ______________________________________ _____________ _______________________ ________________________ <br>
          ___________________________</h1>
      </div>
      <img src="https://i.postimg.cc/QCV9d73F/ab-pic3.jpg" alt="excessofficial.com" />
      <div class="cards">
        <div class="card" id="card1">
          <img src="https://i.postimg.cc/VNrbwnz5/card1.png" alt="excessofficial.com">
        </div>
        <div class="card" id="card2">
          <img src="https://i.postimg.cc/xdzqhQPz/card2.png" alt="excessofficial.com">

        </div>
        <div class="card" id="card3">
          <img src="https://i.postimg.cc/85dckb9k/card3.png" alt="excessofficial.com">

        </div>
        <div class="card" id="card4">
          <img src="https://i.postimg.cc/VNrbwnz5/card1.png" alt="excessofficial.com">

        </div>
      </div>
    </div>
  </section>
</body>

<script>
  function clock() {
    var date = new Date();
    var hours = date.getHours();
    var minutes = date.getMinutes();
    var seconds = date.getSeconds();
    var midday;

    hours = updateTime(hours);
    minutes = updateTime(minutes);
    seconds = updateTime(seconds);

    //If else condition
    midday = hours >= 12 ? "PM" : "AM";
    document.getElementById("clock").innerHTML =
      hours + ":" + minutes + ":" + seconds + midday;

    var time = setTimeout(function () {
      clock();
    }, 1000);

    //Morning Afternoon and Evening condition
    if (hours < 12) {
      var greeting = "Goodmorning" + "HurryUp!";
    }
    if (hours >= 12 && hours <= 18) {
      var greeting = "Goodafternoon";
    }
    if (hours >= 18 && hours <= 24) {
      var greeting = "Goodevening";
    }
    document.getElementById("greeting").innerHTML = greeting;
  }
  function updateTime(k) {
    if (k < 10) {
      return "0" + k;
    } else {
      return k;
    }
  }
  clock();

  /*-----------------------------------------------------------------*/

  const nav_header = document.querySelector(".header-area");
  const main_header = document.querySelector(".main-header");

  const observer = new IntersectionObserver(
    (entries) => {
      const ent = entries[0];
      console.log(ent);
      ent.isIntersecting == false
        ? document.body.classList.add("header-sticky")
        : document.body.classList.remove("header-sticky");
    },
    {
      root: null,
      rootMargin: "-50px",
      threshold: 0,
    }
  );

  observer.observe(main_header);
</script>

</html>